In [172]:
import pandas as pd
import pandasql as ps
import numpy as np
import xlsxwriter

In [98]:
df = pd.read_csv("Signups-Fri-416-5pm.csv")
df.head()

,Sign Up,Start Date/Time (mm/dd/yyyy),Qty,Item,First Name,Last Name,Number Sitting Together (besides yourself),Unnamed: 7
0,Men (Week of April 16th),04/16/2021,1.0,AM 5:50/6:00 Shacharit - MS,Gabbai,YIWH,NaN,
1,Men (Week of April 16th),04/16/2021,1.0,AM 5:50/6:00 Shacharit - MS,Richard,Feldman,NaN,
2,Men (Week of April 16th),04/16/2021,1.0,AM 5:50/6:00 Shacharit - MS,Brian,Rosen,NaN,
3,Men (Week of April 16th),04/16/2021,1.0,AM 5:50/6:00 Shacharit - MS,Ari Gottlieb,Gottlieb,NaN,
4,Men (Week of April 16th),04/16/2021,1.0,AM 5:50/6:00 Shacharit - MS,sholem,kATZ,0.0,

In [99]:
df.isnull().any()

Sign Up                                       False
Start Date/Time (mm/dd/yyyy)                   True
Qty                                            True
Item                                           True
First Name                                     True
Last Name                                      True
Number Sitting Together (besides yourself)     True
Unnamed: 7                                     True
dtype: bool

In [100]:
df = df[df['First Name'].notna()]

In [181]:
df = df[df['Last Name'].notna()]

In [88]:
df.isnull().any()

Sign Up                                       False
Start Date/Time (mm/dd/yyyy)                  False
Qty                                           False
Item                                          False
First Name                                    False
Last Name                                     False
Number Sitting Together (besides yourself)     True
Unnamed: 7                                    False
dtype: bool

In [101]:
df['Number Sitting Together (besides yourself)'] = df['Number Sitting Together (besides yourself)'].fillna(0)

In [90]:
df.isnull().any()

Sign Up                                       False
Start Date/Time (mm/dd/yyyy)                  False
Qty                                           False
Item                                          False
First Name                                    False
Last Name                                     False
Number Sitting Together (besides yourself)    False
Unnamed: 7                                    False
dtype: bool

In [91]:
df.head()

,Sign Up,Start Date/Time (mm/dd/yyyy),Qty,Item,First Name,Last Name,Number Sitting Together (besides yourself),Unnamed: 7
0,Men (Week of April 16th),04/16/2021,1.0,AM 5:50/6:00 Shacharit - MS,Gabbai,YIWH,0.0,
1,Men (Week of April 16th),04/16/2021,1.0,AM 5:50/6:00 Shacharit - MS,Richard,Feldman,0.0,
2,Men (Week of April 16th),04/16/2021,1.0,AM 5:50/6:00 Shacharit - MS,Brian,Rosen,0.0,
3,Men (Week of April 16th),04/16/2021,1.0,AM 5:50/6:00 Shacharit - MS,Ari Gottlieb,Gottlieb,0.0,
4,Men (Week of April 16th),04/16/2021,1.0,AM 5:50/6:00 Shacharit - MS,sholem,kATZ,0.0,

In [102]:
# Get only ECC shacarit and kabalat shabbat (kab).
df = ps.sqldf("SELECT * FROM  df WHERE df.Item LIKE '%ECC%' AND (df.Item LIKE '%Shacharit%' OR df.Item LIKE '%Kab%')")

In [103]:
df.head()

,Sign Up,Start Date/Time (mm/dd/yyyy),Qty,Item,First Name,Last Name,Number Sitting Together (besides yourself),Unnamed: 7
0,Men (Week of April 16th),04/16/2021,1.0,PM 7:00 Mincha/Kab. Shabbat - ECC,Joshua,Goldenberg,0.0,
1,Men (Week of April 16th),04/16/2021,1.0,PM 7:00 Mincha/Kab. Shabbat - ECC,alan,wengrofsky,2.0,
2,Men (Week of April 16th),04/16/2021,1.0,PM 7:00 Mincha/Kab. Shabbat - ECC,Michael,Turk,0.0,
3,Men (Week of April 16th),04/16/2021,1.0,PM 7:00 Mincha/Kab. Shabbat - ECC,Mark,Feld,2.0,
4,Men (Week of April 16th),04/16/2021,1.0,PM 7:00 Mincha/Kab. Shabbat - ECC,Cary,Schwechter,1.0,

In [104]:
df["Display Name"] = df["First Name"] + " " + df["Last Name"]

In [79]:
df.head()

,Sign Up,Start Date/Time (mm/dd/yyyy),Qty,Item,First Name,Last Name,Number Sitting Together (besides yourself),Unnamed: 7,Display Name
0,Men (Week of April 16th),04/17/2021,1.0,AM 9:00 Shacharit - ECC,Asher,Dworetsky,2.0,,Asher Dworetsky
1,Men (Week of April 16th),04/17/2021,1.0,AM 9:00 Shacharit - ECC,David,Nenner,1.0,,David Nenner
2,Men (Week of April 16th),04/17/2021,1.0,AM 9:00 Shacharit - ECC,Mitch,Marcus,0.0,,Mitch Marcus
3,Men (Week of April 16th),04/17/2021,1.0,AM 9:00 Shacharit - ECC,Cary,Schwechter,1.0,,Cary Schwechter
4,Men (Week of April 16th),04/17/2021,1.0,AM 9:00 Shacharit - ECC,Elie,Steinberg,0.0,,Elie Steinberg

In [105]:
df["Seats"] = df['Number Sitting Together (besides yourself)'] + 1

In [205]:
df.head()

,Sign Up,Start Date/Time (mm/dd/yyyy),Qty,Item,First Name,Last Name,Number Sitting Together (besides yourself),Unnamed: 7,Display Name,Seats
0,Men (Week of April 16th),04/16/2021,1.0,PM 7:00 Mincha/Kab. Shabbat - ECC,Joshua,Goldenberg,0.0,,Joshua Goldenberg,1.0
1,Men (Week of April 16th),04/16/2021,1.0,PM 7:00 Mincha/Kab. Shabbat - ECC,alan,wengrofsky,2.0,,alan wengrofsky,3.0
2,Men (Week of April 16th),04/16/2021,1.0,PM 7:00 Mincha/Kab. Shabbat - ECC,Michael,Turk,0.0,,Michael Turk,1.0
3,Men (Week of April 16th),04/16/2021,1.0,PM 7:00 Mincha/Kab. Shabbat - ECC,Mark,Feld,2.0,,Mark Feld,3.0
4,Men (Week of April 16th),04/16/2021,1.0,PM 7:00 Mincha/Kab. Shabbat - ECC,Cary,Schwechter,1.0,,Cary Schwechter,2.0

In [216]:
df = ps.sqldf("SELECT DISTINCT * FROM df")

In [206]:
fridayNight = ps.sqldf("SELECT DISTINCT df.'Display Name' FROM  df WHERE df.Item LIKE '%Kab%' AND df.'Sign Up' LIKE '%Men%' ORDER BY UPPER(df.'Last Name') ASC")

In [207]:
saturdayMen = ps.sqldf("SELECT DISTINCT df.'Display Name' FROM  df WHERE df.Item LIKE '%Shacharit%' AND df.'Sign Up' NOT LIKE '%Women%' ORDER BY UPPER(df.'Last Name') ASC")

In [201]:
saturdayWomen = ps.sqldf("SELECT DISTINCT df.'Display Name' FROM  df WHERE df.Item LIKE '%Shacharit%' AND df.'Sign Up' LIKE '%Women%' ORDER BY UPPER(df.'Last Name') ASC")

In [208]:
MenCounts = ps.sqldf("SELECT df.Seats, count(*) AS cnt FROM df WHERE df.Item LIKE '%Shacharit%' AND df.'Sign Up' NOT LIKE '%Women%' GROUP BY df.Seats")

In [209]:
print(MenCounts)

   Seats  cnt
0    1.0   28
1    2.0    8
2    3.0    8
3    4.0    2
4    5.0    2

In [149]:
BigMen = ps.sqldf("SELECT DISTINCT df.'Display Name', df.Seats FROM df WHERE df.Seats >= 4 AND df.'Sign Up' NOT LIKE 'Women'")

In [150]:
print(BigMen)

      Display Name  Seats
0         Avi From    4.0
1       Neil Cohen    5.0
2  Shalom Ganchrow    4.0
3        Ron Razla    5.0

In [157]:
WomenCounts = ps.sqldf("SELECT df.Seats, count(*) as cnt FROM df WHERE df.Item LIKE '%Shacharit%' AND df.'Sign Up' LIKE '%Women%' GROUP BY df.Seats")

In [160]:
print(WomenCounts)

   Seats  cnt
0    1.0    7
1    2.0    7
2    3.0    3

In [152]:
BigWomen = ps.sqldf("SELECT DISTINCT df.'Display Name', df.Seats FROM df WHERE df.Seats >= 4 AND df.'Sign Up' LIKE 'Women'")

In [154]:
WomenCounts

   Seats  count(*)
0    1.0         7
1    2.0         7
2    3.0         3

In [165]:
totalPods = ps.sqldf("SELECT 'Women' as 'Gender', SUM(wc.cnt) as 'Count' FROM WomenCounts AS wc UNION SELECT 'Men', SUM(mc.cnt) FROM MenCounts AS mc")

In [166]:
print(totalPods)

  Gender  Count
0    Men     48
1  Women     17

In [ ]:
np.savetxt(r'C:\Users\sethj\Desktop\friNight.txt', fridayNight, fmt='%s', header='Friday Night Sign Up')

In [180]:
writer = pd.ExcelWriter(r"C:\Users\sethj\Desktop\signups1.xlsx", engine='xlsxwriter')

fridayNight.to_excel(writer, sheet_name='Friday Night')
saturdayMen.to_excel(writer, sheet_name='Saturday Men')
saturdayWomen.to_excel(writer, sheet_name='Saturday Women')
BigMen.to_excel(writer, sheet_name='Men Large Family Seating')
BigWomen.to_excel(writer, sheet_name='Women Large Family Seating')
totalPods.to_excel(writer, sheet_name='Pod Totals')
writer.close()